<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style\style.css">
    <title>To Do List</title>
</head>
<body>
<div class="container">
    <div class="date_container">
        <h1><%= listTitle %></h1>
    </div>
    <div class="input_container">
        <%for(var i=0; i<=addItems.length;i++){%>
            <div class="new_task">
                <input type="checkbox">
                <p><%=addItems[i]%></p>
            </div>
        <%}%>
        <form action="/" method="post">
            <input type="text" name="add_item" class="add_list" placeholder="What to Do?" autocomplete="off">
            <button type="submit"  name="Add"  class="btn_1" value=<%=listTitle%>>ADD</button>
        </form>
    </div>
</div>    
    
</body>
</html>